.carousel {
  width: 500px;
  /* border: 1px solid blue; */
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel-wrapper {
  display: flex;
}

.carousel-wrapper .carousel-img {
  width: 600px;
}

.carousel-controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.controller {
  display: flex;
  padding: 5px;
}

.controller.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: #ccc; /* Default color for dots */
}

.controller.dot.active {
  background-color: black;
}

.dot-controller {
  display: flex;
}
